<p>Channel: {{ name }}</p>

<div
  *ngIf="!(errorEvent$ | async); then channelStage; else errorConnecting"
></div>

<ng-template #channelStage>
  <div
    nz-row
    [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }"
  >
    <div nz-col nzSpan="6" class="column gutter-row">
      <app-chat-room [name]="name"></app-chat-room>
    </div>
    <div nz-col nzSpan="18" class="column gutter-row">
      <app-media #player (mediaEndedEvent)="onVideoEnded()"></app-media>
    </div>
    <div nz-col nzSpan="18" nzOffset="6" class="playlist">
      <nz-list
        nzBordered
        nzSize="small"
        [nzDataSource]="playlist"
        [nzRenderItem]="item"
        [nzNoResult]="'No items'"
      >
        <ng-template #item let-item>
          <li
            nz-list-item
            class="playlist-item"
            [nzContent]="item"
            [nzActions]="[opAction]"
            nzNoFlex
          ></li>
          <ng-template #opAction>
            <a (click)="player.play(item)">
              Play
            </a>
          </ng-template>
        </ng-template>
      </nz-list>
    </div>
  </div>
</ng-template>

<ng-template #disconnectedImg>
  <i
    nz-icon
    style="font-size: 5rem; color: rgb(204, 254, 253);"
    nzType="frown"
  ></i>
</ng-template>
<ng-template #errorConnecting>
  <div nz-col nzSpan="24" class="column">
    <nz-empty
      [nzNotFoundImage]="disconnectedImg"
      nzNotFoundContent="Can't connect to channel. Try logging in?"
    ></nz-empty>
  </div>
</ng-template>
