<p>Channel: {{ name }}</p>

<div *ngIf="!(errorEvent$ | async); then channelStage; else errorConnecting"></div>

<ng-template #channelStage>
  <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }">
    <div nz-col nzSpan="6" class="column gutter-row">
      <app-chat-room [name]="name"></app-chat-room>
    </div>
    <div nz-col nzSpan="18" class="column gutter-row">
      <app-media #player (mediaEndedEvent)="onVideoEnded()"></app-media>
    </div>
    <div nz-col nzSpan="6" class="mt-1">



      <nz-list nzBordered nzSize="small" [nzDataSource]="members$ | async" [nzRenderItem]="member"
        [nzNoResult]="'No items'">
        <ng-template #member let-member>
          <nz-list-item>
            <nz-list-item-meta [nzTitle]="nzTitle" [nzAvatar]="member.isLeader ? leaderIcon : null"
              [nzDescription]="member.userName">
              <ng-template #nzTitle>
                <span>{{member.userName}}</span>
              </ng-template>
            </nz-list-item-meta>
          </nz-list-item>
          <ng-template #leaderIcon>
            <i nz-icon style="color: white; font-size: 1rem;" nzType="play-circle"></i>
          </ng-template>
        </ng-template>
      </nz-list>
    </div>
    <div nz-col nzSpan="18" class="mt-1">
      <nz-list nzBordered nzSize="small" [nzDataSource]="playlist$ | async" [nzRenderItem]="item"
        [nzNoResult]="'No items'">
        <ng-template #item let-item>
          <li nz-list-item nzBordered class="playlist-item" [nzContent]="item" [nzActions]="[opAction]" nzNoFlex></li>
          <ng-template #opAction>
            <nz-button-group>
              <button nz-button nzSize="small" nzType="link" (click)="player.play(item)" title="start video"><i nz-icon
                  nzType="caret-right"></i></button>
              <button nz-button nzSize="small" nzType="link" title="set next in line"><i nz-icon
                  nzType="double-right"></i></button>
            </nz-button-group>
          </ng-template>
        </ng-template>
      </nz-list>
    </div>

    <ng-template #disconnectedImg>
      <i nz-icon style="font-size: 5rem; color: rgb(204, 254, 253);" nzType="frown"></i>
    </ng-template>
    <ng-template #errorConnecting>
      <div nz-col nzSpan="24" class="column">
        <nz-empty [nzNotFoundImage]="disconnectedImg" nzNotFoundContent="Can't connect to channel. Try logging in?">
        </nz-empty>
      </div>
    </ng-template>
