<p>Channel: {{ name }}</p>

<div
  nz-row
  nzSpan="24"
  nzType="flex"
  [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }"
  nzJustify="space-between"
  nzAlign="center"
  class="container"
>
  <nz-alert
    nz-col
    *ngFor="let item of errorEvent$ | async"
    nzSpan="6"
    nzType="error"
    [nzShowIcon]="true"
    [nzMessage]="item.text"
  ></nz-alert>
  <div
    *ngIf="!(errorEvent$ | async); then channelStage; else errorConnecting"
  ></div>
</div>

<ng-template #channelStage>
  <div nz-col nzSpan="6" class="column">
    <app-chat-room [name]="name"></app-chat-room>
  </div>
  <div nz-col nzSpan="18" class="column">
    <app-media #player (mediaEndedEvent)="onVideoEnded()"></app-media>
  </div>
  <button
    nz-button
    [nzType]="'primary'"
    (click)="player.play('https://www.youtube.com/watch?v=_1rF38MjpHE')"
  >
    Play
  </button>
</ng-template>

<ng-template #errorConnecting>
  <div nz-col nzSpan="24" class="column">
    <nz-empty
      nzNotFoundContent="Can't connect to channel. Did you log in?"
    ></nz-empty>
  </div>
</ng-template>
