<div nz-row>
  <div nz-col nzSpan="24">
    <nz-carousel nzEffect="scrollx" nzAutoPlay>
      <div nz-carousel-content style="display: flex">
        <app-sushi-banner></app-sushi-banner>
      </div>
      <div nz-carousel-content style="display: flex">
        <app-popcorn-banner></app-popcorn-banner>
      </div>
      <div nz-carousel-content style="display: flex">
        <app-neko-banner></app-neko-banner>
      </div>
    </nz-carousel>
  </div>
</div>
<h1 nz-typography>Channel Directory</h1>
<nz-divider nzText="Public channels"></nz-divider>
<div nz-row>
  <div nz-col nzSpan="24">
    <app-overview></app-overview>
  </div>
</div>
