<div class="stage">
  <video controls #videoElement>
    <source [src]="currentMediaUrl | async" type="video/mp4">
    <source [src]="currentMediaUrl | async" type="video/webm">
    <p>Your browser doesn't support HTML5 video.</p>
  </video>
</div>
<div class="stats">
  <pre>URL: {{ currentMediaUrl | async }}</pre>
  <p>
    <label>Ended:</label>
    {{ ended$ | async  }}
  </p>
  <p>
    <label>Error:</label>
    {{ error$ | async  }}
  </p>
  <p>
    <label>Canplay:</label>
    {{ canPlayEvent$ | async  }}
  </p>
</div>
