<div nz-row nzJustify="center" nzAlign="middle" style="height: 100%">
  <div
    nz-col
    nzSpan="24"
    style="text-align: center"
    [hidden]="isMediaSelected | async"
  >
    <p nz-typography>Nothing playing</p>
    <p nz-typography>Add media using the form below!</p>
    <p nz-typography>(in case you are the leader) click the <i nz-icon nzType="caret-right" nzTheme="outline"></i> icon in the playlist to play the media!</p>
  </div>

  <div nz-col nzSpan="24"  [nzFlex]="'auto'" class="media" [hidden]="(isMediaSelected | async) === false">
    <div mediaHost></div>
  </div>
</div>
