<div nz-row nzJustify="center" nzAlign="middle" style="height: 100%">
  <div
    nz-col
    nzSpan="24"
    style="text-align: center"
    [hidden]="isMediaSelected | async"
  >
    <p nz-typography>Nothing playing</p>
    <p nz-typography>Add media using the <i nz-icon nzType="video-camera-add" nzTheme="outline"></i> icon!</p>
    <p nz-typography>Then start playing media from the playlist <i nz-icon nzType="caret-right" nzTheme="outline"></i> icon!</p>
  </div>

  <div nz-col nzSpan="24"  [nzFlex]="'auto'" class="media" [hidden]="!(isMediaSelected | async)">
    <div mediaHost></div>
  </div>
</div>
