<div class="wrapper">
  <nz-card [nzTitle]="name" class="feed" [nzBodyStyle]="{ overflowY : 'auto', height: '90%' }" #feed>
    <nz-comment
    *ngFor="let message of messages$ | async | slice: -10"
      [nzAuthor]="message.userName"
    >
      <nz-comment-content>
        {{ message.text }}
      </nz-comment-content>
    </nz-comment>
  </nz-card>

  <nz-card [nzActions]="[sendIcon]" class="textbox">
    <textarea
      nz-input
      placeholder="Type something..."
      [(ngModel)]="msgBoxValue"
      name="textarea"
      rows="5"
      cols="30"
      minlength="10"
      maxlength="512"
      (keyup.enter)="submitChatMessageSub.next()"
      nzAutosize
    ></textarea>
  </nz-card>
</div>

<!-- Send Icon Template-->
<ng-template #sendIcon>
  <i
    nz-icon
    nzType="edit"
    title="Send message"
    style="color: #fff;"
    (click)="submitChatMessageSub.next()"
  ></i>
</ng-template>
