.wrapper {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 0.75fr 0.15fr;
  gap: 0px 1px;
  grid-template-areas:
    "."
    "."
    ".";
  justify-items: stretch;
  border: 1px #191919 solid;

  > div {
    border-bottom: 1px #191919 solid;
  }

  &:last-child {
    border-bottom: 0;
  }

  .header {
    display: flex;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;

    h2 {
      margin-bottom: 0;
    }
  }

  .feed {
    padding: 0.5rem;
    overflow-y: auto;
  }

  textarea {
    display: block;
    background-color: #191919;
    color: whitesmoke;
    width: 100%;
    height: 100%;
    resize: none;
    min-height: 100px;
    overflow: auto;
  }
}
