.wrapper {
  display: grid;
  height: 75vh;

  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 2fr 1fr;
  gap: 0px 1px;

  overflow: hidden;

  .header {
    display: flex;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;

    h2 {
      margin-bottom: 0;
    }
  }

  .feed {
    padding: 0.5rem;
    overflow-y: auto;
    grid-row-end: span 2;
  }

  app-chat-message {
    margin-bottom: 1em;
  }

  app-message-input {
    padding: 0.5rem;
  }
}
