<h1 nz-typography>Your stuff</h1>
<nz-divider></nz-divider>
<div nz-row>
  <div
    nz-col
    [nzLg]="{ span: 8, offset: 0 }"
    [nzMd]="{ span: 12, offset: 0 }"
    [nzXs]="{ span: 24, offset: 0 }"
  >
    <h2 nz-typography>Info</h2>
    <nz-card [nzLoading]="!(me$ | async)" [nzActions]="[logoutBtn, deleteAccountButton]">
      <nz-card-meta
        [nzTitle]="me$ | async | username"
        [nzAvatar]="avatarTemplate"
      >
      </nz-card-meta>
      <ng-template #avatarTemplate>
        <nz-avatar nzGap="5" nzIcon="user" nzSize="large" style="background-color: #63c5d2;"></nz-avatar>
      </ng-template>
      <p nz-typography>
        date created:
        <span nz-typography
          ><code>{{ (me$ | async)?.dateCreated | date }}</code></span
        >
      </p>
    </nz-card>
  </div>
  <div
    nz-col
    [nzLg]="{ span: 16, offset: 0 }"
    [nzMd]="{ span: 12, offset: 0 }"
    [nzXs]="{ span: 24, offset: 0 }"
  >
    <app-owned-channels></app-owned-channels>
  </div>
</div>
<div nz-row>
  <div
    nz-col
    [nzLg]="{ span: 8, offset: 0 }"
    [nzMd]="{ span: 12, offset: 0 }"
    [nzXs]="{ span: 24, offset: 0 }"
  >
    <h2 nz-typography>Create channel</h2>
    <nz-card [nzLoading]="!(me$ | async)">
      <app-create-room-form></app-create-room-form>
    </nz-card>
  </div>
</div>

<ng-template #logoutBtn>
  <button
  *ngIf="me$ | async"
  nz-button
  nzType="primary"
  (click)="onLogout()"
>
  Logout
</button>
</ng-template>

<ng-template #deleteAccountButton>
  <button
  *ngIf="me$ | async"
  nz-button
  nzDanger
  nzType="primary"
  nz-tooltip
  nzTooltipTitle="This permanently deletes your account and any channel or other relation linked to it."
  (click)="onDeleteAccount()"
>
  Delete account
</button>
</ng-template>