<div nz-row>
  <div nz-col nzSpan="8">
    <nz-card nzTitle="Profile info" [nzCover]="coverTemplate" [nzLoading]="!(me$ | async)">
      <h5 *ngIf="me$ | async">Username:</h5>
      <pre>{{ me$ | async | username }}</pre>
      <button *ngIf="(me$ | async)" nz-button nzType="primary" (click)="onLogout()">Logout</button>
      <div *ngIf="!(me$ | async)">
        Please login
      </div>
    </nz-card>
  </div>
  <div nz-col nzSpan="16">
    <app-owned-channels></app-owned-channels>
  </div>
</div>


<ng-template #coverTemplate>
  <img alt="example" [src]="me$ | async | placehold" />
</ng-template>
