:host {
  display: block;
  height: 100%;
  width: 100%;
  background: linear-gradient(145.01deg, #FF694E 39.44%, #F55F44 61.13%);

  * {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    -ms-user-drag: none;
    user-drag: none;
    user-select: none;
  }

}
