<div nz-row>
  <div nz-col
      [nzLg]="{ span: 12, offset: 6 }"
      [nzMd]="{ span: 12, offset: 6 }"
      [nzXs]="{ span: 22, offset: 1 }">
    <h1 nz-typography>About Synk</h1>

    <ng-template #loading><i nz-icon [nzType]="'loading'"></i></ng-template>
    <p nz-typography *ngIf="version$ | async as version; else loading">
      <nz-statistic
        [nzValue]="version"
        [nzTitle]="'Version'"
        [nzPrefix]="prefixTpl"
      ></nz-statistic>
      <ng-template #prefixTpl>
        <i nz-icon nzType="tag" nz-tooltip [nzTooltipTitle]="'Full version: ' + version"></i>
      </ng-template>
    </p>
    <p nz-typography>
      New releases will be announced on the Synk discord (see below for invite
      link)
    </p>

    <h1 nz-typography>What is this?</h1>

    <p nz-typography>
      Viewers can watch videos together with other connected viewers in
      viewer-maintained channels.
      <br />
      Video content can be added from YouTube (more media providers will be supported in the future) and the playback is synchronized for all the viewers in the
      channel.
    </p>
    <p nz-typography>
      Each channel has a chat feed for discussion and a playlist where users can
      queue up videos to play.
    </p>

    <p nz-typography>
      Currently only logged in users can enter channels and watch content but
      that may change in the future.
    </p>

    <p nz-typography>
      This project is open source. Feel free to host your own instance.
    </p>

    <h2 nz-typography>Terms and Conditions</h2>
    <p nz-typography>
      <a routerLink="/terms-of-use">Go to the Terms of Use page</a>
    </p>

    <h2 nz-typography>Contribute</h2>
    <p nz-typography>Check out the source code on GitHub</p>
    <p nz-typography>
      <a
        href="https://github.com/0x80085/synk"
        nz-button
        nzType="default"
        nzSize="large"
        ><i nz-icon nzType="github"></i>GitHub</a
      >
    </p>

    <h2 nz-typography>Donate</h2>
    <p nz-typography>Well i would be greedy to ask dons this early.</p>
    <p nz-typography>
      So if you catch me in the chat, just ask if you wanna join forces in
      developing this platform
    </p>
  </div>
</div>
