<nz-layout>
  <nz-content>

    <h1 nz-typography>About Synk</h1>

    <p nz-typography>
      <nz-statistic [nzValue]="version" [nzTitle]="'Version'" [nzPrefix]="prefixTpl"></nz-statistic>
      <ng-template #prefixTpl><i nz-icon nzType="tag"></i></ng-template>
    </p>
    <p nz-typography>
      New releases will be announced on the Synk discord
    </p>

    <h1 nz-typography>What this</h1>
    <p nz-typography>
      Intro about section
    </p>

    <h2 nz-typography>Terms and Conditions</h2>
    <p nz-typography>
      Some link to T&C document
    </p>

    <h2 nz-typography>Community</h2>
    <p nz-typography>

      Join discord and stuff
    </p>

    <h2 nz-typography>Contribute</h2>
    <p nz-typography>
      LInk to GH repo
    </p>

    <h2 nz-typography>Donate</h2>
    <p nz-typography>
      gib me magic interweb moniez plox
    </p>

  </nz-content>
</nz-layout>
