.media-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
}

.ant-list-item {
  &:hover {
    background-color: #191919;
    transform: translateY(-5px);
    transition: all 0.2s ease-in;
  }
  &:focus {
    background-color: #191919;
    transform: translateY(-5px);
    transform: rotate(5deg);
    transition: all 0.2s ease-in;
  }
}
