<div nz-row>
  
  <div nz-col nzSpan="24" style="min-height: 3rem;">
    <button nz-button nzType="link" (click)="showControls = !showControls">
      <i nz-icon nzType="video-camera-add" nzTheme="outline" nz-tooltip  nzTooltipTitle="Add media to playlist"></i>
    </button>
    <!-- <nz-button-group style="margin-left: 0.875rem;" [hidden]="!showControls">
      <button nz-button nzType="default" (click)="onShuffle()">
        <i nz-icon nzType="swap" nzTheme="outline"></i>
        Shuffle Playlist
      </button>
      <button nz-button nzType="default" (click)="onNext()">
        <i nz-icon nzType="forward" nzTheme="outline"></i>
        Next
      </button>
    </nz-button-group> -->
  </div>
  
  <div nz-col nzSpan="24">
    <nz-input-group [hidden]="!showControls" nzSearch nzSize="large" [nzAddOnAfter]="suffixButton"
      style="margin-bottom: 1rem;">
      <input type="text" nz-input placeholder="Enter url to add video" [(ngModel)]="mediaUrlInput" />
    </nz-input-group>
  </div>

  <div nz-col nzSpan="24">
    <nz-list [nzBordered]="(virtualPlaylist$ | async)" nzSize="small" [nzLoading]="!(virtualPlaylist$| async)"
      [nzDataSource]="virtualPlaylist$| async" [nzRenderItem]="item" [nzNoResult]="noItems">
      <ng-template #item let-item>
        <nz-list-item style="border-bottom: 1px solid rgb(25, 25, 25);" class="playlist-item" [class.active]="true"
          nzSplit [nzContent]="item.title" [nzActions]="[opAction]" nzNoFlex>
        </nz-list-item>
        <ng-template #opAction>
          <button nz-button nzSize="small" nzType="link" (click)="playMedia.emit(item)"
            nz-tooltip [nzTooltipTitle]="item.active ? 'now playing' : 'start video'">
            <i nz-icon [nzType]="item.active ? 'play-circle' : 'caret-right'"></i>
          </button>
          <button nz-button nzSize="small" nzDanger nzType="link" (click)="onRemoveMedia(item.mediaUrl)" nz-tooltip
          nzTooltipTitle="Remove from list">
            <i nz-icon nzType="delete"></i>
          </button>
        </ng-template>
      </ng-template>
    </nz-list>
  </div>
</div>

<ng-template #suffixButton>
  <button nz-button nzType="primary" nzSearch (click)="onAddMedia()">Add</button>
</ng-template>

<ng-template #noItems>
  <p nz-typography> 
    <i nz-icon nzType="ellipsis" nzTheme="outline"></i>
  </p>
  <p nz-typography> 
    Nothing queued
  </p>
</ng-template>
