@import "../banner.scss";

.wrap{
  .left {
    position: absolute;
    top: -1%;
    left: -15%;
    height: 105%;
    z-index: 2;
  }
  .right {
    position: absolute;
    right: 0;
    height: 100%;
    top: 0%;
    z-index: 3;
  }
}
