<nz-list [nzDataSource]="data$ | async" [nzRenderItem]="channel"
  [nzGrid]="{ gutter: 16, xs: 24, sm: 12, md: 6}" [nzLoading]="!(data$ | async)" [nzNoResult]="noResults">
  <ng-template #channel let-channel>
    <nz-list-item [ngClass]="'item'" routerLink="/channel/{{ channel.name }}" [nzContent]="nzContent">
      <ng-template #nzContent>
        <app-overview-item [channel]="channel" #nzContent></app-overview-item>
      </ng-template>
    </nz-list-item>
  </ng-template>
</nz-list>

<ng-template #noResults>
  <nz-empty></nz-empty>
</ng-template>
