.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.video {
  width: 100%;
  height: 100%;
  /* transform: perspective(400px) translate3d(-17.6697px, 5.85104px, 0px) rotateY(-4.45738deg) rotateX(-1.47599deg); */
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;
  user-select: none;
  overflow: hidden;
  transform-style: preserve-3d;
}
