<nz-card style="width:300px;" nzTitle="Chat">
  <nz-comment nzAuthor="Han Solo">
    <nz-avatar nz-comment-avatar nzIcon="user" nzSrc="favicon.ico"></nz-avatar>
    <nz-comment-content>
      <div *ngFor="let message of messages | async">
        {{ message.msg }}
      </div>
    </nz-comment-content>
    <textarea nz-input placeholder="Autosize height based on content lines" [(ngModel)]="msgBoxValue" nzAutosize></textarea>

    <nz-comment-action>Send</nz-comment-action>
  </nz-comment>
  <button nz-button nzType="primary" [nzSize]="'large'" nzShape="round" (click)="onJoinRoom()">
    <i nz-icon nzType="import" nzTheme="outline"></i>Join room 2Dbooty
  </button>
  <button nz-button nzType="primary" [nzSize]="'large'" nzShape="round" (click)="onSendMessageToGroup()">
    <i nz-icon nzType="import" nzTheme="outline"></i>Send
  </button>
</nz-card>