<nz-card style="width:300px;" nzTitle="Chat">
  <nz-comment nzAuthor="Han Solo">
    <nz-avatar nz-comment-avatar nzIcon="user" nzSrc="favicon.ico"></nz-avatar>
    <nz-comment-content>
      <p *ngFor="let message of messages">
        {{ message.msg }}
      </p>
    </nz-comment-content>
    <nz-comment-action>Do I rerefesh</nz-comment-action>
  </nz-comment>
  <button
    nz-button
    nzType="primary"
    [nzSize]="'large'"
    nzShape="round"
    (click)="onJoinRoom()"
  >
    <i nz-icon nzType="import" nzTheme="outline"></i>Join room 2Dbooty
  </button>
</nz-card>
