<form nz-form [formGroup]="form" (ngSubmit)="onSubmit()">
  <nz-form-item>
    <nz-form-control nzErrorTip="Please enter a valid channel name">
        <input
          type="text"
          nz-input
          formControlName="name"
          placeholder="Channel name"
        />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please enter a valid channel description">
        <input
          type="text"
          nz-input
          formControlName="description"
          placeholder="Channel description"
        />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
        <label nz-checkbox
          formControlName="isPublic">
          List channel on home page?
        </label>
    </nz-form-control>
  </nz-form-item>
  <button nz-button [nzType]="'primary'" [nzLoading]="isSubmitting" >
    Create
  </button>
</form>
