/* You can add global styles to this file, and also import other style files */
@import '~@ctrl/ngx-emoji-mart/picker';

/* Body font */

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  letter-spacing: 0.35px;
}

$font-family-body: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

/* Heading font */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

$font-family-heading: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

.anti-hover {
  position: relative;

  &::before {
    content: '';
    z-index: 1;
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.ant-card {
  overflow: hidden;
}

.ant-card-body {
  background-color: #191919;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  line-height: 2;
}

.content-wrapper {
  margin: 16px;
}

// Fixes bc of embedded font padding

.ant-button {
  padding-top: 5px !important;
}

.ant-input {
  padding-top: 5px;

  ::placeholder {
    letter-spacing: 0.35px;
  }
}

.ant-avatar.ant-avatar-icon > .anticon {
  padding-top: 5px;
}

.ant-input-affix-wrapper > input.ant-input {
  padding-top: 5px;
}

.ant-form-item-explain {
  margin-top: 5px;
}

.ant-alert-content{
  padding-top: 5px;
}
