/* You can add global styles to this file, and also import other style files */


.anti-hover {
  position: relative;

    &::before {
      content:"";
      z-index: 1;
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
  }
}
