<div nz-row>
  <div nz-col
      [nzLg]="{ span: 12, offset: 6 }"
      [nzMd]="{ span: 12, offset: 6 }"
      [nzXs]="{ span: 22, offset: 1 }">
    <h1>
      Terms of Use
    </h1>
    <p>
      By visiting Synk (<a [href]="hostName()">{{ hostName() }}</a>), you
      agree to abide by the following rules<br />
      and policies. Violations of these policies are punishable by removal of
      access<br />
      to the website and in some circumstances may also result in legal action.
    </p>
    <p>
      This document may be updated at any time without prior notice.
    </p>

    <p>
      Channels receiving multiple DMCA (or similarly legal) takedown notices,
      either for the same content<br />
      or for different content, will be suspended or banned permanently, at
      the<br />
      discretion of Synk administrators.
    </p>

    <h2>
      Use of YouTube API Services
    </h2>
    <p>
      Synk makes use of YouTube API Services in order to provide YouTube
      embed<br />
      functionality. Use of YouTube-related features is subject to the
      <a href="https://www.youtube.com/t/terms">YouTube Terms<br />
        of Service</a>.
    </p>
    <h2>
      User Behavior
    </h2>
    <ul>
      <li>
        Users must be at least 13 years old to register an account.
      </li>
      <li>
        Impersonating other users, including but not limited to website staff,
        is prohibited.
      </li>
      <li>
        Harassing other users is prohibited.
      </li>
      <li>
        Blackmailing, doxxing, or otherwise sharing personal information
        without permission is prohibited.
      </li>
      <li>
        Raiding, trolling, spamming, or otherwise disrupting channels is
        prohibited.
      </li>
      <li>
        Fedposting is prohibited.
      </li>
      <li>
        Fedposting is strictly prohibited, and is bannable on the first offence.
        <ul>
          <li>
            This website interprets fedposting as: any post which makes a
            credible call to violence, to any person, or property, public or
            private. The line of credibility and the scope of what constitutes
            violence is up to the discretion of Synk moderation
          </li>
        </ul>
      </li>
      <li>
        Advertising other channels is allowed only with permission from the
        administrators of both the channel being advertised and the channel
        where
        the advertisement takes place. Blatant spamming of links to your channel
        in
        other channels will result in a permanent ban from the website.
      </li>
      <li>
        DDOSing or other abuse of the website infrastructure is prohibited.
      </li>
      <li>
        Attempting to disrupt the service or circumvent its security is
        prohibited.<br />
      </li>
      <li>
        All users are required to abide by the rules of the below Channel
        Content policy when sharing content in any channel.
      </li>
    </ul>
    <h2>
      Channel Content
    </h2>
    <ul>
      <li>
        All content, including but not limited to embedded audio and video,
        images,<br />
        and links to external content must be legal to view and share.
      </li>
      <li>
        Legal adult content, such as pornography, is permitted only in
        channels<br />
        clearly marked as 18+ in the channel title, and only when all users of
        the<br />
        channel are of legal age to view such content. Distribution of child<br />
        pornography is strictly prohibited and will be reported to the
        relevant<br />
        authorities.
      </li>
      <li>
        Content must not attempt to circumvent the privacy or security measures
        of<br />
        any user’s web browser.
      </li>
      <li>
        Content must comply with the corresponding terms of service for the
        website<br />
        which hosts the content.
      </li>
      <li>
        Content must not disrupt the service as a whole or the experience of<br />
        individual users.
      </li>
      <li>
        Malicious or fraudulent content is prohibited.
      </li>
      <li>
        Advertisements are prohibited.
      </li>
      <li>
        Donation links to support individual channels are allowed, but only
        if<br />
        clearly and visibly marked to inform users that the donation is
        supporting<br />
        the channel and not the website as a whole.
      </li>
    </ul>
    <h2>
      Bot Behavior
    </h2>
    <p>
      Non-human users (bots) are allowed on the website, provided they comply
      with<br />
      these rules
    </p>
    <ul>
      <li>
        Bots are only allowed in a channel with permission from the channel
        owner.
      </li>
      <li>
        Bots must rate limit their interaction with the server. In general,
        bots<br />
        should send no more than 10
        <a href="http://socket.io">socket.io</a> messages in one second. Use
        good<br />
        judgement, and try to avoid placing unnecessary load on the server.
      </li>
    </ul>
    <h2>
      Disclaimer of Liability
    </h2>
    <ul>
      <li>
        Content on Synk is provided “as-is”. Synk makes no warranties,
        express<br />
        or implied, and hereby disclaims and negates all other warranties,<br />
        including, without limitation, implied warranties or conditions of<br />
        merchantability, fitness for a particular purpose, or non-infringement
        of<br />
        intellectual property or other violation of rights. Furthermore, Synk
        does<br />
        not make any representations concerning the accuracy or reliability
        of<br />
        content present on Synk. In no event shall the authors or operators
        of<br />
        Synk be liable for any claim, damages, or other liability, whether in<br />
        action of contract or otherwise, arising from, out of or in connection
        with<br />
        Synk or use of Synk.
      </li>
      <li>
        Synk permits users to share links, embedded content, or other content<br />
        insofar as the shared content complies with this agreement, United
        States<br />
        law, and where applicable, local laws. Synk, its owners, and operators
        are<br />
        not responsible for the content shared, or any consequences of sharing
        such<br />
        content. Synk does not endorse any user-provided content. Viewing
        shared<br />
        content is done at the user’s own risk.
      </li>
      <li>
        <h2>
          Disclaimer of Liability
        </h2>
        Synk uses cookies for essential site features such as Synk user account
        identification related features like login and and realtime chatroom features.
        At no point are Synk distributed cookies used for advertising or tracking/data-mining purposes.
      </li>
    </ul>
  </div>
</div>