.ant-card-body {
  padding: 0.5rem;
  padding-right: 0rem;
}

.input {
  position: relative;

  .preview-msg {
    padding-right: 2rem;
    margin: 0;
  }

  textarea {
    display: block;
    padding: 0.5rem;
    padding-right: 2rem;
    background-color: #0e0e0e;
    color: #f5f5f5;
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
    min-height: 2rem;
    max-height: 5rem;
    resize: none !important;
    outline: none !important;
    border: none;
  }

  app-emote-picker {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
  }

  .emote-img {
    display: inline;
    max-height: 3rem;
    vertical-align: bottom;
    border-radius: 2px;
  }
}

