<div class="input">
  <nz-card *ngIf="(inputParsed$ | async).hasEmotes" style="padding-top: 0; margin-bottom: .5rem;" class="preview-msg">
    <pre [innerHTML]="(inputParsed$ | async).renderable"></pre>
  </nz-card>
  <textarea placeholder="Send a message..." [(ngModel)]="msgBoxValue" (ngModelChange)="inputChangedSubject.next($event)"
    name="textarea" (keyup.enter)="onSubmit()">
    </textarea>
  <i nz-icon nzType="smile" nz-popover [nzPopoverContent]="contentTemplate" nzPopoverTitle="Pick em"
    class="emote-menu-btn"></i>
  <ng-template #contentTemplate>
    <emoji-mart [darkMode]="true"
      [include]="['custom','people','nature','foods','activity','places','objects','symbols','flags']"
      [custom]="customEmojis"
      (emojiClick)="addEmoji($event)"></emoji-mart>
  </ng-template>
</div>
