<div nz-row nzJustify="center" nzAlign="middle" class="wrapper">
  <div nz-col [nzLg]="{ span: 8, offset: 0 }" [nzMd]="{ span: 12, offset: 0 }" [nzXs]="{ span: 24, offset: 0 }">
    <h1>Create your account</h1>
    <nz-card nzTitle="Create account" *ngIf="!registerSuccess">
      <form nz-form [formGroup]="form" class="login-form" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input a valid username">
            <ng-template #prefixTemplateUser><i nz-icon style="color: rgb(204, 254, 253);" nzType="user"></i>
            </ng-template>
            <nz-input-group [nzPrefix]="prefixTemplateUser">
              <input type="text" nz-input formControlName="username" placeholder="Username" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input a valid password">
            <ng-template #prefixTemplateLock><i nz-icon style="color: rgb(204, 254, 253);" nzType="lock"></i>
            </ng-template>
            <nz-input-group [nzPrefix]="prefixTemplateLock">
              <input type="password" nz-input formControlName="password" placeholder="Password" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <label nz-checkbox formControlName="agreesToTermsAndConditions">
            Agree to <a [routerLink]="['/terms-of-use']">Terms and Conditions and Site Policies</a>
          </label>
        </nz-form-item>
        <nz-form-item>
          <button nz-button class="login-form-button" 
            nzType="primary" 
            [nzLoading]="isSubmitting" 
            [disabled]="!agreesToTermsandConds">
            Create
          </button>
        </nz-form-item>
      </form>
    </nz-card>
    <nz-card *ngIf="registerSuccess" nzTitle="Account created" [nzCover]="coverTemplate" [nzExtra]="extraTemplate"
      [nzActions]="[successActions]">
      <nz-card-meta nzTitle="Ahoy matey! Welcome aboard!"
        nzDescription="You're almost there. Log in to access the channels">
      </nz-card-meta>
    </nz-card>
    <ng-template #coverTemplate>
      <img src="assets/neko.png"
        class="success-img" />
    </ng-template>
    <ng-template #extraTemplate>
      <i nz-icon style="color: rgb(204, 254, 253);" nzType="notification"></i>
    </ng-template>
    <ng-template #successActions>
      <button nz-button nzType="primary" [routerLink]="['/account', 'login']">
        Go to login
        <i nz-icon style="color: rgb(204, 254, 253);" nzType="right"></i>
      </button>
    </ng-template>
  </div>
</div>
