<div nz-row>
  <div nz-col nzSpan="8">
    <nz-card nzTitle="Create account" *ngIf="!registerSuccess">
      <form
        nz-form
        [formGroup]="form"
        class="login-form"
        (ngSubmit)="submitForm()"
      >
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your username!">
            <ng-template #prefixTemplateUser
              ><i nz-icon style="color: rgb(204, 254, 253);" nzType="user"></i
            ></ng-template>
            <nz-input-group [nzPrefix]="prefixTemplateUser">
              <input
                type="text"
                nz-input
                formControlName="userName"
                placeholder="Username"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your Password!">
            <ng-template #prefixTemplateLock
              ><i nz-icon style="color: rgb(204, 254, 253);" nzType="lock"></i
            ></ng-template>
            <nz-input-group [nzPrefix]="prefixTemplateLock">
              <input
                type="password"
                nz-input
                formControlName="password"
                placeholder="Password"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <button nz-button class="login-form-button" [nzType]="'primary'">
            Create
          </button>
        </nz-form-item>
      </form>
    </nz-card>
    <nz-card *ngIf="registerSuccess">
      <nz-alert
        [nzShowIcon]="true"
        nzType="success"
        [nzMessage]="'User registered, try loggin in!'"
      ></nz-alert>
    </nz-card>
  </div>
</div>
