<nz-list [nzDataSource]="data$ | async" [nzRenderItem]="item"
  [nzGrid]="{ gutter: 16, xs: 24, sm: 12, md: 6}" [nzNoResult]="noResults">
  <ng-template #item let-item>
    <nz-list-item [ngClass]="'item'" routerLink="/channel/{{ item.roomName }}" [nzContent]="nzContent">
      <ng-template #nzContent>
        <app-overview-item [item]="item" #nzContent></app-overview-item>
      </ng-template>
    </nz-list-item>
  </ng-template>
</nz-list>

<div *ngIf="isLoggedIn$ | async" nz-row>
  <div nz-col nzSpan="8">
    <nz-card nzTitle="New channel">
      <app-create-room-form></app-create-room-form>
    </nz-card>
  </div>
</div>

<ng-template #noResults>
  <nz-empty></nz-empty>
</ng-template>
