<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="sidebar-logo">
      <span>
        <ng-container *ngIf="(isLoggedIn | async); then userLoggedIn; else userNotLoggedIn"></ng-container>
        <h1 style="cursor: pointer;" (click)="isCollapsed = !isCollapsed">
          {{ hostName }}
        </h1>
      </span>
    </div>
    <ul nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Explore" nzIcon="compass">
        <ul>
          <li nz-menu-item class="item" nzMatchRouter>
            <a routerLink="/home">All Channels</a>
          </li>
        </ul>
      </li>
    </ul>
    <ul nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Account" nzIcon="user">
        <ul>
          <li nz-menu-item [hidden]="isLoggedIn | async" class="item" nzMatchRouter>
            <a routerLink="/account/login">Login</a>
          </li>
          <li nz-menu-item [hidden]="!(isLoggedIn | async)" class="item" nzMatchRouter>
            <a routerLink="/account/me">(You)</a>
          </li>
          <li nz-menu-item [hidden]="isLoggedIn | async" class="item" nzMatchRouter>
            <a routerLink="/account/new">Register</a>
          </li>

        </ul>
      </li>
    </ul>
    <ul nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed" [hidden]="!(isAdmin$ | async)">
      <li nz-submenu nzOpen nzTitle="Manage" nzIcon="dashboard">
        <ul>
          <li nz-menu-item class="item" nzMatchRouter>
            <i nz-icon nzType="crown" nzTheme="outline"></i>
            <a routerLink="/account/admin"> Admin</a>
          </li>
          <li nz-menu-item class="item" nzMatchRouter>
            <i nz-icon nzType="bug" nzTheme="outline"></i>
            <a routerLink="/debug"> Test player</a>
          </li>
        </ul>
      </li>
    </ul>

    <button nz-button nzType="link" routerLink="/about"
      style="position: absolute; bottom: 10px; right:20px;">?</button>
  </nz-sider>
  <nz-layout>
    <nz-alert  nzBanner nzType="info"  nzIconType="experiment" nzShowIcon nzCloseable [nzMessage]="underConstructionBanner"></nz-alert>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>

<ng-template #underConstructionBanner> 
 <span nz-typography>This website is under active development. <a routerLink="/about">Check the about page</a> for more info. </span>
</ng-template>

<ng-template #logo>
  <ng-container *ngIf="isLoggedIn | async; then userLoggedIn; else userNotLoggedIn">
  </ng-container>
</ng-template>

<ng-template #userNotLoggedIn>
  <i nz-icon nzType="meh" style="cursor: pointer;" (click)="isCollapsed = !isCollapsed" nzTheme="fill" nz-tooltip
    nzTooltipTitle="Log in to access and create rooms!"></i>
</ng-template>

<ng-template #userLoggedIn>
  <ng-container *ngIf="isConnected | async; then socketConnected; else socketDisonnected"></ng-container>
</ng-template>

<ng-template #socketDisonnected>
  <i nz-icon nzType="smile" style="cursor: pointer;" (click)="isCollapsed = !isCollapsed" nzTheme="fill"
   nz-tooltip nzTooltipTitle="Not connected to chat server"></i>
</ng-template>

<ng-template #socketConnected>
  <i nz-icon [style.color]=" '#00ff00'" nzType="smile" style="cursor: pointer;" (click)="isCollapsed = !isCollapsed"
    nzTheme="fill" nz-tooltip [nzTooltipTitle]="(user$ | async)?.username"></i>
</ng-template>
