:host {
  display: block;
  height: 100vh;
  width: 100%;
  max-width: 100vw;
}

.menu-sidebar {
  position: relative;
  z-index: 10;
  min-height: 100vh;
}

.header-trigger {
  height: 64px;
  padding: 20px 24px;
  cursor: pointer;
  transition: all .3s,padding 0s;
}

.sidebar-logo {
  position: relative;
  height: 64px;
  padding-left: 24px;
  overflow: hidden;
  line-height: 64px;
  transition: all .3s;
}

.sidebar-logo img {
  display: inline-block;
  height: 32px;
  width: 32px;
  vertical-align: middle;
}

.sidebar-logo h1 {
  display: inline-block;
  margin: 0 0 0 20px;
  font-weight: 600;
  font-size: 14px;
  vertical-align: middle;
}

nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
}

.app-header {
  position: relative;
  height: 64px;
  padding: 0;
}

.item:hover{
  background-color: rgb(255, 105, 78);
}

nz-content {
  margin: 24px;
}

.inner-content {
  padding: 24px;
}
