:host {
  display: block;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  max-width: 100vw;
}

nz-alert {
  margin-bottom: 12px;
  ::ng-deep span {
    color: black;
  }
}



.header-trigger {
  height: 64px;
  padding: 20px 24px;
  cursor: pointer;
  transition: all 0.3s, padding 0s;
}

.sidebar-logo {
  position: relative;
  height: 64px;
  padding-left: 24px;
  overflow: hidden;
  line-height: 64px;
  transition: all 0.3s;
}

.sidebar-logo img {
  display: inline-block;
  height: 32px;
  width: 32px;
  vertical-align: middle;
}

.sidebar-logo h1 {
  display: inline-block;
  margin: 0 0 0 20px;
  font-weight: 600;
  font-size: 14px;
  vertical-align: middle;
}

.menu-sidebar {
  position: fixed;
  z-index: 10;
  min-height: 100vh;
  height: 100%;
}

nz-content {
  margin: 24px;
  margin-left: 96px;
}
::ng-deep .ant-menu-sub.ant-menu-inline {
  background-color: #191919;
}

nz-alert {
  margin-left: 80px;
}

.app-header {
  position: relative;
  height: 64px;
  padding: 0;
}

.item:hover {
  background-color: rgb(255, 105, 78);
}



.inner-content {
  padding: 24px;
}
