<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <span>
        <i
          nz-icon
          nzType="meh"
          style="cursor: pointer;"
          (click)="isCollapsed = !isCollapsed"
          nzTheme="fill"
        ></i>
        <h1 style="cursor: pointer;" (click)="isCollapsed = !isCollapsed">
          SYNKd.TV
        </h1>
      </span>
    </div>
    <ul nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Explore" nzIcon="compass">
        <ul>
          <li nz-menu-item class="item" nzMatchRouter>
            <a routerLink="/welcome">All Channels</a>
          </li>
        </ul>
      </li>
    </ul>
    <ul nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Account" nzIcon="smile">
        <ul>
          <li nz-menu-item class="item" nzMatchRouter>
            <a routerLink="/account/login">Login</a>
          </li>
          <li nz-menu-item class="item" nzMatchRouter>
            <a routerLink="/account/me">(You)</a>
          </li>
          <li nz-menu-item class="item" nzMatchRouter>
            <a routerLink="/account/new">Register</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
