<nz-list [nzBordered]="(members$  | async)" nzSize="small" [nzLoading]="!(members$  | async)"
[nzDataSource]="members$ | async" [nzRenderItem]="member" [nzNoResult]="'No items'">

<ng-template #member let-member>
  <nz-list-item [nzActions]="[giveLeaderBtn, ownerIcon, leaderIcon]">
    <nz-list-item-meta [nzTitle]="member.username">
    </nz-list-item-meta>
  </nz-list-item>
  
  <ng-template #leaderIcon>
    <i [hidden]="!member.isLeader" nz-icon style="color: white; font-size: 1rem;" nzType="interaction"
      nz-tooltip nzTooltipTitle="This user currently controls the playback"></i>
  </ng-template>

  <ng-template #ownerIcon>
    <i [hidden]="!member.isOwner" nz-icon style="color: white; font-size: 1rem;" nzType="shop" nz-tooltip
    nzTooltipTitle="Owner of this channel"></i>
  </ng-template>

  <ng-template #giveLeaderBtn>
    <button nz-button nzType="link" nz-tooltip nzTooltipTitle="Hand over playback control to user"
      [hidden]="member.isLeader || (loggedInUserIsLeader$ | async)" (click)="this.giveLeader.emit(member)">
      <i nz-icon nzType="api"></i>
    </button>
  </ng-template>

</ng-template>
</nz-list>
