<h1 nz-typography>Administrational dept. of Synk Services</h1>
<nz-divider></nz-divider>
<div nz-row [nzGutter]="25">
  <div
    nz-col
    [nzLg]="{ span: 12, offset: 0 }"
    [nzMd]="{ span: 12, offset: 0 }"
    [nzXs]="{ span: 24, offset: 0 }"
  >
    <h2 nz-typography>Autmated Room Controls</h2>
    <nz-card>
      <input
        type="text"
        nz-input
        placeholder="subreddit to scrape videos from"
        [(ngModel)]="subreddit"
      />
      <button
        nz-button
        nzType="default"
        style="margin: 0.2rem"
        (click)="startScraper()"
      >
        Start scrape run
      </button>
      <button
        nz-button
        nzType="default"
        style="margin: 0.2rem"
        (click)="stopScraper()"
      >
        Stop scrape run
      </button>
      <button
        nz-button
        nzType="default"
        style="margin: 0.2rem"
        (click)="startPlayback()"
      >
        Start auto-playback
      </button>
      <button
        nz-button
        nzType="default"
        style="margin: 0.2rem"
        (click)="stopPlayback()"
      >
        Stop auto-playback
      </button>
      <button
        nz-button
        nzType="default"
        style="margin: 0.2rem"
        nzDanger
        (click)="clearPlaylist()"
      >
        Clear playlist
      </button>
    </nz-card>
    <h2 nz-typography>Users</h2>
    <nz-card [nzLoading]="!(users$ | async)">
      <nz-pagination
        [nzPageIndex]="1"
        [nzTotal]="85"
        [nzPageSize]="20"
        [nzShowTotal]="rangeTemplate"
        style="margin-bottom: 1rem"
      >
      </nz-pagination>
      <ng-template #rangeTemplate let-range="range" let-total>
        {{ range[0] }}-{{ range[1] }} of {{ total }} items
      </ng-template>
      <nz-collapse *ngIf="(accounts$ | async)?.length > 0">
        <nz-collapse-panel
          *ngFor="let user of accounts$ | async"
          [nzHeader]="user.username"
          [nzExpandedIcon]="expandIcon"
        >
          <ng-template #expandIcon>
            <i nz-icon style="margin-right: 20px" nzType="user"></i>
          </ng-template>
          <nz-descriptions nzTitle="User Info" nzLayout="vertical">
            <nz-descriptions-item nzTitle="UserName">
              <span nz-typography
                ><code>{{ user.username }}</code></span
              >
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="ID">
              <span nz-typography
                ><code>{{ user.id }}</code></span
              >
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="Date created">
              <span nz-typography
                ><code>{{ user.dateCreated | date }}</code></span
              >
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="Last seen">
              <span nz-typography
                ><code>{{ user.lastSeen | date }}</code></span
              >
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="Owner of rooms">
              <span nz-typography>
                <ul>
                  <li *ngFor="let chan of user.channels">
                    <code>{{ chan.name }}</code>
                  </li>
                  <code *ngIf="user.channels.length === 0">None found</code>
                </ul>
              </span>
            </nz-descriptions-item>
          </nz-descriptions>
          <nz-divider></nz-divider>
        </nz-collapse-panel>
      </nz-collapse>
    </nz-card>
  </div>
  <div
    nz-col
    [nzLg]="{ span: 12, offset: 0 }"
    [nzMd]="{ span: 12, offset: 0 }"
    [nzXs]="{ span: 24, offset: 0 }"
  >
    <h2 nz-typography>Channels</h2>
    <nz-card [nzLoading]="!(channels$ | async)">
      <nz-pagination
        [nzPageIndex]="1"
        [nzTotal]="85"
        [nzPageSize]="20"
        [nzShowTotal]="rangeTemplate"
        style="margin-bottom: 1rem"
      >
      </nz-pagination>
      <ng-template #rangeTemplate let-range="range" let-total>
        {{ range[0] }}-{{ range[1] }} of {{ total }} items
      </ng-template>
      <nz-collapse *ngIf="(channels$ | async)?.length > 0">
        <nz-collapse-panel
          *ngFor="let room of channels$ | async"
          [nzHeader]="room.name"
          [nzExpandedIcon]="expandIcon"
        >
          <ng-template #expandIcon>
            <i nz-icon style="margin-right: 20px" nzType="video-camera"></i>
          </ng-template>
          <nz-descriptions nzTitle="User Info" nzLayout="vertical">
            <nz-descriptions-item nzTitle="Name">
              <span nz-typography
                ><code>{{ room.name }}</code></span
              >
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="ID">
              <span nz-typography
                ><code>{{ room.id }}</code></span
              >
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="Owner name">
              <span nz-typography
                ><code>{{ room.owner.username }}</code></span
              >
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="Owner ID">
              <span nz-typography
                ><code>{{ room.owner.id }}</code></span
              >
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="Owner last seen">
              <span nz-typography
                ><code>{{ room.owner.lastSeen | date }}</code></span
              >
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="Owner isAdmin">
              <span nz-typography
                ><code>{{ room.owner.isAdmin }}</code></span
              >
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="Link to channel">
              <a
                nz-button
                nzType="link"
                nz-tooltip
                nzTooltipTitle="Go to channel"
                [routerLink]="['/channel', room.name]"
              >
                <i nz-icon nzType="login"></i>
              </a>
            </nz-descriptions-item>
          </nz-descriptions>
          <nz-divider></nz-divider>
          <p nz-typography><strong>Channel actions</strong></p>
          <p>
            <button
              nz-button
              nzType="default"
              nzDanger
              style="margin-left: 0.5rem"
              (click)="deleteRoom(room.id, room.name)"
            >
              Delete channel
            </button>
          </p>
        </nz-collapse-panel>
      </nz-collapse>
    </nz-card>
    <h2 nz-typography>Socket connections</h2>
    <nz-card [nzLoading]="!(connections$ | async)">
      <pre> {{ connections$ | async | json }} </pre>
    </nz-card>
  </div>
</div>
