.cover {
  background-color: #191919;

  .placeholder-img-container {
    text-align: center;
    .placeholder-cover-img {
      font-size: 3rem;
      opacity: 0.3;
    }
  }

    img {
      width: 100%;
    }

  .inner-cover {
    padding: 0 24px;

    .description {
      height: 100px;
      overflow-y: hidden;
      overflow-x: hidden;
      word-break: break-word;

      &:hover {
        overflow-y: auto;
      }
    }
  }
}
